.weather-box{
  width: 100%;
  height: 420px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-screen{
  border: 1px solid blue;
  width: 100%;
  height: 300px;
}

.weather-details{
  border: 1px solid green;
  height: 120px;
  width: 100%;
}